	<meta charset="utf-8">
	<title>Book4You</title>
	<meta name="title" content="Book4You">
	<meta name="description" content="Book4You - compartilhe sua leitura">
	<meta name="keywords" content="book4you,livro,leitura,lista,listas,book,read,list,comunidade">
	<link rel="stylesheet" type="text/css" href="/assets/style/main.css">
	<script type="text/javascript" src="/assets/script/jquery.js"></script>