<header>
	<h1><a href="/">Book4You</a></h1>

	<nav id="app-header-nav-notify">
		<button type="button">Notificações</button>
		<ul>
			<li><a href="">Item notificado número 1</a></li>
			<li><a href="">Item notificado número 2</a></li>
			<li><a href="">Item notificado número 3</a></li>
			<li><a href="">Item notificado número 4</a></li>
			<li><a href="">Item notificado número 5</a></li>
		</ul>
	</nav>

	<form action="#" method="post" id="app-header-frm-search">
		<legend>Busca</legend>
		<fieldset>
			<input type="text" name="querystring" />
		</fieldset>
		<fieldset>
			<button type="submit">Buscar</button>
		</fieldset>
	</form>

	<button id="app-header-btn-user-options">Opções do usuário</button>
	<button id="app-header-btn-login">Login</button>
	<button id="app-header-btn-logout">Sair</button>
</header>