<section id="app-user-options">
	<figure>
		<img src="/assets/media/fake-user.png" width="64" height="64" alt="">
		<figcaption>
			<strong>Fulano de Tal</strong>
			<address>fulano@tal.com.br</address>
		</figcaption>
	</figure>
	<nav id="app-user-options-nav-profile">
		<h3><a href="">Meu perfil</a></h3>
		<ul>
			<li><a href="">Item 1</a></li>
			<li><a href="">Item 2</a></li>
			<li><a href="">Item 3</a></li>
		</ul>
	</nav>
	<nav id="app-user-options-nav-readlists">
		<h3><a href="">Readlists</a></h3>
		<ul>
			<li><a href="">Item 1</a></li>
			<li><a href="">Item 2</a></li>
			<li><a href="">Item 3</a></li>
		</ul>
	</nav>
	<nav id="app-user-options-nav-library">
		<h3><a href="">Biblioteca</a></h3>
		<ul>
			<li><a href="">Item 1</a></li>
			<li><a href="">Item 2</a></li>
			<li><a href="">Item 3</a></li>
		</ul>
	</nav>
	<nav id="app-user-options-nav-social">
		<h3><a href="">Redes sociais</a></h3>
		<ul>
			<li><a href="">Item 1</a></li>
			<li><a href="">Item 2</a></li>
			<li><a href="">Item 3</a></li>
		</ul>
	</nav>
	<button id="app-user-options-btn-logout" type="button">Sair</button>
</section>